celery[redis]==5.6.3
crispy-bootstrap5==2026.3
dj-database-url==3.0.2
django-bootstrap5==26.2
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-otp-yubikey==1.1.0
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-redis==7.0.0
django-two-factor-auth==1.18.1
django-unfold==0.65.0
django-widget-tweaks==1.5.0
Django==5.2.15
google-genai==1.75.0
gunicorn==23.0.0
phonenumbers==9.0.29
pillow==11.3.0
psycopg[binary]==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
sentry-sdk==2.36.0
slippers==0.7.0
webauthn==2.8.0
whitenoise==6.9.0
